<!-- Heading -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<!-- Messages section-->
<%- messages() %>

<!-- Registration form -->
<%- register
<form action="/account/register" method="post">


%>