

<!-- <main> -->
    <h1 id="welcome">Welcome to CSE Motors!</h1>
    <div>
        <section class="attributes" id="attributes">
            <ul>
                <li><h2>DMC Delorean</h2></li>
                <li>3 Cup holders</li>
                <li>Superman doors</li>
                <li>Fuzzy dice!!!</li>
                <li><img class="owntoday" src="/images/site/own_today.png" alt="Own today button"></li>
        </ul>
        </section>
        <img class="delorean" src="/images/vehicles/delorean-tn.jpg" alt="Delorean Image">

        <div class="details"></div>
        <section class="reviews" id="reviews">
            <h2>DMC Delorean Reviews</h2>
            <ul>
                <li class="review" id="item1">"So fast its almost like traveling in time." (4/5)</li>
                <li class="review" id="item2">"Coolest ride on the road." (4/5)</li>
                <li class="review" id="item3">"I'm feeling McFly!" (5/5)</li>
                <li class="review" id="item4">"The most futuristic ride of our day" (4.5/5)</li>
                <li class="review" id="item5">"80's livin and I love it!" (5/5)</li>

            </ul>

        </section>

        <section class="upgrades">
            <h2>Delorean Upgrades</h2>
            <div class="upgrade-layout">
                <figure>
                    <picture class="upgrade_item">
                        <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
                    </picture>
                    <p>Flux Capacitor</p>
                </figure>
                <figure>
                    <picture class="upgrade_item">
                        <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
                    </picture>
                    <p>Flame Decals</p>
                </figure>
                <figure>
                    <picture class="upgrade_item">
                        <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker">
                    </picture>
                    <p>Bumper Sticker</p>
                </figure>
                <figure>
                    <picture class="upgrade_item">
                        <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
                    </picture>
                    <p>Hub Caps</p>
                </figure>
            </div>
        </section>
    </div>
<!-- </main> -->
