<!-- Heading -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<!-- Messages section-->
<%- messages() %>

<!-- Vehicle Management links -->
<form>
    <a href="/inv/add-classification">Add New Classification</a>

    <br><br>

    <a href="/inv/add-inventory">Add New Inventory</a>
</form>